body {
  background-color: oklch(.30 0 0);
  height: 100vh;
  display: grid;
  place-items: center;
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: none;
  padding: 16px;
  background: oklch(.40 0 0);
  border-radius: 16px;
  transition: all 200ms ease-in-out();
}

select:hover,
select:focus {
  background: oklch(.50 0 0);
}

select:focus {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

select option {
  background-color: yellow;
}
