body {
  background-color: oklch(.30 0 0);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

select {
  border: none;
  padding: 16px;
  background: oklch(.40 0 0);
  border-radius: 16px;
  transition: all 200ms ease-in-out();
}

select:hover,
select:focus {
  background: oklch(.50 0 0);
}

select option:checked {
  background-color: oklch(.50 .2 240);
}

select option {
  background-color: oklch(.50 0 0);
  border: 2px solid oklch(.30 0 0);
  padding: 16px;
}

select option:hover {
  background-color: oklch(.60 0 0);
}

#business {
  background-color: white;
  border-radius: 4px;
}

#business:hover {
  background-color: oklch(.80 0 0);
}

#missingBorder {
  background-color: transparent;
  color: oklch(.50 0 0);
  border-radius: 4px;
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid oklch(.50 .02 0);
  border-left: 2px solid oklch(.50 .02 0);
  transition: all 200ms ease-in-out;
}

#missingBorder:hover {
  background-color: oklch(.60 0 0);
  color: black;
  border: 2px solid oklch(.50 0 0);
}

#heavyBasic {
  border: 1px solid grey;
  padding: 2px;
  border-radius: 0;
}

@media (max-width:800px) {
  body {
    gap: 200px;
    flex-wrap: wrap;
  }
}

@media (max-width:472px) {
  body {
    margin-bottom: 200px;
  }
}
